apiVersion: v1
kind: Service
metadata:
  name: nextjs-service
spec:
  type: NodePort
  ports:
    - port: 3000       
      targetPort: 3000 
      nodePort: 30000  
  selector:
    app: nextjs
    tier: frontend
